.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: hsl(255 100% 100% / 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-loader {
}

.calendly-popup {
  width: 75vw;
  height: 75vh;
  overflow: hidden;
}
