.last-section--container {
  box-shadow: inset 0px 6px 0px #ebecff;
  width: 100%;
}
.last-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-inline: 1rem;
  margin-top: 25px;
  color: #4f516b;
  font-family: "Poppins";
  line-height: 1.3rem;
}
.last-section h2 {
  color: #4f516b;
  font-family: "Poppins";
  font-size: 2rem;
  line-height: 45px;
  margin-left: 2px;
  margin-bottom: 28px;
  text-align: left;
  width: 70%;
}
.last-section a {
  color: #000;
  font-weight: 500;
}
.left {
}
#txt1 {
  line-height: 2rem;
  margin-left: 6px;
}
.last-section table,
td {
  border-spacing: 10px;
  column-gap: 10px;
  padding-right: 20px;
}
.txt {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.right {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}
.right--ppa {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 2px black;
}
/* .paa  img{
  margin-right: 10px;

} */
#imgx {
  margin-right: 30px;
}
.right--logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.right--image-container {
  background-color: #fafafb;
  margin-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  aspect-ratio: 1;
  border-radius: 12px;
  margin-bottom: 1rem;
}
.right--rectangle {
  display: flex;
  background: #3a3f8e;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  width: 270px;
  margin-top: auto;
  margin-left: calc(100% - 270px);
}
.right--rectangle img {
  height: 39px;
  width: 38px;
  margin-top: 7px;
  margin-right: 20px;
}
.right--txt {
  max-width: 70%;
}
#ctxt {
  color: white;
}

.footer {
  border-top: 1px solid #848dc7;
  color: #4f516b;
  font-family: "Poppins";
  text-align: center;
}
@media (max-width: 1000px) {
  .last-section--container {
  }
  .last-section {
    display: flex;
    flex-direction: column;
  }
}
