.last-section-container{
 
    border-bottom: 1px solid #848DC7;
}
.last-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 60px;
    margin-right: 100px;;
    margin-top: 25px;
    color: #4F516B;
    font-family: 'Poppins';
    line-height: 1.3rem;
    
    

}
.last-section h2{
    color: #4F516B;
    font-family: 'Poppins';
    font-size: 2rem;
    line-height: 45px;
    margin-left: 2px;
    margin-bottom: 28px;
    text-align: left;
    width: 70%;
    
}
.left{
    
    
}
#txt1{
    line-height: 2rem;
    /* color: #4F516B;
    font-family: 'Poppins'; */
    margin-left: 6px;
}
.last-section table,td {
    border-spacing: 10px;
    column-gap: 10px;
    padding-right: 20px;
}
.txt{
    margin-top:  2rem;
    margin-bottom: 2rem;
}
.right{
    margin-top: 35px;
}
.right--ppa{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 2px black;
}
/* .paa  img{
  margin-right: 10px;

} */
#imgx{
    margin-right: 30px;
}
.right--logos{
    display: flex;
    flex-direction: row;

}
.right--logos img{
    margin-right: 30px;
    margin-top: 20px;
}
.right--rectangle{
    display: flex;
    background: #3A3F8E;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
    width: 270px;
    margin-top: 100px;
    margin-left: calc(100% - 270px);
}
.right--rectangle img{
    height: 39px;
    width: 38px;
    margin-top: 7px;
    margin-right: 20px;
}
#ctxt{
    color: white;
}

.footer{
    color: #4F516B;
    font-family: 'Poppins';
    text-align: center;
}
@media (max-width:800px) {
    .last-section{
        display: flex;
        flex-direction:column;
    }
    .right--rectangle{
        display: flex;
        flex-direction: column;
    }
}

