.nav-container {
  position: relative;
  height: 4rem;
  background-color: #fff;
}
.nav {
  position: absolute;
  width: 70%;
  right: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  line-height: 100%;
  height: 100%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
  gap: 1.5rem;
  visibility: visible;
}

.logo {
  margin-left: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  gap: 0.5rem;
  color: #444bab;
  cursor: pointer;
}
.nav :nth-child(1) {
  /*margin-left: auto;*/
  margin-left: auto;
}
.nav :nth-child(6) {
  /*margin-left: auto;*/
}

.nav li a {
  text-decoration: none;
}
#log {
  padding: 0.75em 2.5em;
  background-color: #fff;
  color: #444bab;
  border: 1px solid #444bab;
  border-radius: 6px;
}
#free-trial {
  padding: 0.75em 1.5em;
  border: none;
  background-color: #444bab;
  color: #fff;
  border-radius: 6px;
}
.hamburger {
  position: fixed;
  visibility: hidden;
}

.circle {
  border-radius: 50%;
  background-color: #e5e5e5;
  aspect-ratio: 1;
  width: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__name {
  margin-right: 1rem;
}
#user-image {
  width: 80%;
  aspect-ratio: 1;
  margin: 0;
}
@media (max-width: 1080px) {
  .nav {
    position: fixed;
    padding-block: 5rem;
    top: 0;
    right: 0;
    z-index: 999;
    height: 100vh;
    width: 100%;
    background-color: hsl(0 0% 100% / 0.5);
    backdrop-filter: blur(2rem);
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1rem;
    line-height: 100%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
  }
  .nav :nth-child(6) {
    margin: 0;
  }

  .hamburger {
    position: absolute;
    visibility: visible;
    top: 0.5rem;
    right: 3rem;
    width: 2rem;
    aspect-ratio: 1;
  }
  .nav :nth-child(1) {
    margin: 0;
  }
}
